<a href="https://colab.research.google.com/github/miah0x41/share_notebooks/blob/main/MOT_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Check local directory
!pwd

/content

In [3]:
# Download data
!wget https://data.dft.gov.uk/anonymised-mot-test/test_data/dft_test_result_2022.zip

--2023-06-04 12:35:03--  https://data.dft.gov.uk/anonymised-mot-test/test_data/dft_test_result_2022.zip
Resolving data.dft.gov.uk (data.dft.gov.uk)... 34.117.178.183
Connecting to data.dft.gov.uk (data.dft.gov.uk)|34.117.178.183|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1177620475 (1.1G) [application/x-zip-compressed]
Saving to: ‘dft_test_result_2022.zip’

dft_test_result_202 100%[===================>]   1.10G  13.7MB/s    in 83s

2023-06-04 12:36:26 (13.5 MB/s) - ‘dft_test_result_2022.zip’ saved [1177620475/1177620475]

In [4]:
# Check file
!ls

dft_test_result_2022.zip  sample_data

In [5]:
# Unzip
!unzip dft_test_result_2022.zip

Archive:  dft_test_result_2022.zip
  inflating: test_result.csv
  inflating: __MACOSX/._test_result.csv

In [6]:
# Check files
!ls -lh

total 4.5G
-rw-r--r-- 1 root root 1.1G Jun  4 12:36 dft_test_result_2022.zip
drwxr-xr-x 2 root root 4.0K Jun  4 12:37 __MACOSX
drwxr-xr-x 1 root root 4.0K Jun  1 22:51 sample_data
-rw-r--r-- 1 root root 3.4G Mar 14 09:13 test_result.csv

In [7]:
# Count lines
!cat test_result.csv | wc -l

41632231

In [8]:
# Sample 100k
!head -n 1000000 test_result.csv > sample.csv

In [9]:
!cat sample.csv | wc -l

1000000

# Explore Data

In [10]:
# Check imports
import pandas as pd

In [11]:
# Preview file
!head sample.csv

test_id|vehicle_id|test_date|test_class_id|test_type|test_result|test_mileage|postcode_area|make|model|colour|fuel_type|cylinder_capacity|first_use_date
334683447|634775234|2022-01-01|4|NT|P|227219|E|TOYOTA|PRIUS|SILVER|Hybrid Electric (Clean)|1497|2008-01-17
586095521|1220215709|2022-01-01|4|NT|P|136552|CR|TOYOTA|PRIUS|GREY|Hybrid Electric (Clean)|1798|2013-11-29
960974211|1315791989|2022-01-01|4|NT|F|129847|E|TOYOTA|PRIUS|WHITE|Hybrid Electric (Clean)|1798|2018-01-01
1041792341|1144451355|2022-01-01|4|NT|P|123133|TW|TOYOTA|PRIUS|SILVER|Hybrid Electric (Clean)|1496|2016-11-21
1587264975|1315791989|2022-01-01|4|RT|P|129848|E|TOYOTA|PRIUS|WHITE|Hybrid Electric (Clean)|1798|2018-01-01
1032834657|1310098304|2022-01-01|4|NT|PRS|238117|IG|TOYOTA|PRIUS|BLACK|Hybrid Electric (Clean)|1798|2012-06-29
51919479|483214935|2022-01-01|4|NT|P|110322|E|TOYOTA|PRIUS|SILVER|Hybrid Electric (Clean)|1800|2017-04-01
1616476935|1262912232|2022-01-01|4|NT|P|161933|BD|TOYOTA|PRIUS|SILVER|Hybrid Electric (Clean)|1497|2005-12-30
640040599|302221893|2022-01-01|4|NT|P|47101|IG|TOYOTA|PRIUS|SILVER|Hybrid Electric (Clean)|1797|2016-06-28

In [12]:
# Read file
%%time

df = pd.read_csv('sample.csv', sep='|')

CPU times: user 2.03 s, sys: 579 ms, total: 2.61 s
Wall time: 2.66 s

In [13]:
# Preview
df.head()

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
0,334683447,634775234,2022-01-01,4,NT,P,227219.0,E,TOYOTA,PRIUS,SILVER,Hybrid Electric (Clean),1497.0,2008-01-17
1,586095521,1220215709,2022-01-01,4,NT,P,136552.0,CR,TOYOTA,PRIUS,GREY,Hybrid Electric (Clean),1798.0,2013-11-29
2,960974211,1315791989,2022-01-01,4,NT,F,129847.0,E,TOYOTA,PRIUS,WHITE,Hybrid Electric (Clean),1798.0,2018-01-01
3,1041792341,1144451355,2022-01-01,4,NT,P,123133.0,TW,TOYOTA,PRIUS,SILVER,Hybrid Electric (Clean),1496.0,2016-11-21
4,1587264975,1315791989,2022-01-01,4,RT,P,129848.0,E,TOYOTA,PRIUS,WHITE,Hybrid Electric (Clean),1798.0,2018-01-01

In [14]:
# Determine unique car manufacturers
df.make.unique()

array(['TOYOTA', 'NISSAN', 'TESLA', 'LEXUS', 'FORD', 'MITSUBISHI', 'MINI',
       'VOLKSWAGEN', 'RENAULT', 'VAUXHALL', 'SEAT', 'BMW', 'KIA',
       'DODGE (USA)', 'MERCEDES-BENZ', 'PORSCHE', 'YAMAHA', 'PEUGEOT',
       'AUDI', 'TRIUMPH', 'JAGUAR', 'MAZDA', 'LAND ROVER', 'FIAT',
       'HUSQVARNA', 'CITROEN', 'HONDA', 'HYUNDAI', 'VOLVO', 'CHEVROLET',
       'DACIA', 'SAAB', 'SKODA', 'SUZUKI', 'SMART (MCC)', 'GILERA',
       'CHRYSLER-JEEP', 'JEEP', 'DAEWOO', 'SUBARU', 'ISUZU TRUCKS',
       'ALFA ROMEO', 'PROTON', 'BANDIT 1200 CUSTOM ', 'KTM', 'HYMER',
       'DS', 'INFINITI', 'LEVC', 'KAWASAKI', 'SSANGYONG', 'MG', 'ABARTH',
       'PULSE', 'DAIHATSU', 'ROVER', 'BENTLEY', 'WESTFIELD', 'ISUZU',
       'IVECO', 'DODGE', 'SYM', 'GREAT WALL', 'HYOSUNG', 'AUTO-TRAIL',
       'CATERHAM', 'CHRYSLER', 'VICTORY', 'LONDON TAXIS INT',
       'ASTON MARTIN', 'ROYAL ENFIELD', 'MERCEDES', 'GENERAL MOTORS',
       'LEXMOTO', 'LOTUS', 'HARLEY DAVIDSON',
       'LAND ROVER FREELANDER GS TD4', 'SMART FORTWO PASSION MHD AUTO',
       'PIAGGIO', 'SMC', 'DVSA', 'JIANSHE', 'LDV', 'WK BIKES', 'ZONTES',
       'AJS', 'MASERATI', 'IVECO-FORD', 'SMART FORTWO PASSION AUTO',
       'DONGFENG', 'MORGAN', 'CADILLAC', 'SMART', 'HARLEY-DAVIDSON',
       'SCUTUM', 'LAMBORGHINI', 'WINNEBAGO', 'FERRARI', 'DUCATI',
       'MARLIN', 'ALKO-KOVER DERCKS ALKO', 'LML', 'MAN', 'TALBOT',
       'ROLLS ROYCE', 'DAF TRUCKS', 'MORRIS', 'MCC', 'MOTO GUZZI',
       'MICROCAR', 'DATSUN', 'DFSK', 'LONDONTAXISINTERNATIONAL', 'KYMCO',
       'APRILIA', 'SINNIS', 'WHITE KNUCKLE', 'LONGJIA', 'PONTIAC',
       'LAMBRETTA', 'UM', 'PERODUA', 'REVA', 'DIRECT BIKES', 'DAIMLER',
       'AUDI A3 SPORTBACK 2.0 TDI', 'MOTORINI', 'BETA', 'LEYLAND DAF',
       'BAOTIAN', 'STEYR PUCH', 'KSR Moto', 'LANCIA', 'RENAULT TRUCKS',
       'SWIFT GROUP LTD', 'TGB', 'AJP', 'EASY RIDER', 'GENERIC',
       'MV AGUSTA', 'HOBBY VANTANA K60T', 'TVR', 'HANWAY', 'GAS GAS',
       'INDIAN', 'RIEJU', 'MONTESA', 'BEDFORD', 'VESPA', 'BETAMOTOR',
       'AUSTIN', 'HAWK', 'STREET SCOOTER', 'MITSUBISHI FUSO', 'DAELIM',
       'JINLUN', 'LAND ROVER RANGE ROVER V8 SUPERCHARGED',
       'THE EXPLORER GROUP', 'SCOMADI', 'DUFFY E220 BLUE TEC',
       'VOLKSWAGEN GOLF VR6 DOHC 2.8L', 'ERWIN HYMER GROUP UK',
       'PEUGEOT PREMIER SE', 'ZNEN', 'ROYAL ALLOY', 'OPEL',
       'CHRYSLER JEEP', 'QUADZILLA', 'BULLIT', 'RELIANT', 'MOTORHOME',
       'LAND ROVER RANGE ROVER VOGUE TDV8 3.6', 'GMC', 'RICKMAN',
       'MCLAREN', 'SMART FORTWO PASSION CDI AUTO', 'BRISTOL', 'KEEWAY',
       'LADA', 'BUELL', 'BRISTOL    (BLMC)', 'AIXAM', 'ARIIC JL125T-12',
       'PLYMOUTH', 'UNCLASSIFIED UNCLASSIFIED', 'CHEVROLET GMC',
       'BMW 116D EFFICIENTDYNAMICS', 'NECO', 'ALPINE',
       'MERCEDES-BENZ SLK250 CDI BLUEEFFICIENCY AUTO', 'PHILLIPS',
       'BMW 520D SE 2.0L', 'BURSTNER', 'MAYBACH', 'SKYTEAM',
       'MERCEDES BENZ A160 SE CLASSIC 1.5L', 'CAGIVA', 'MUTT',
       'VESPA (DOUGLAS)', 'SMART FORTWO PULSE MHD AUTO', 'DERBI',
       'RENAULT TRUCKS MASTER 125.35 LWB', 'CHAUSSON', 'ZONGSHEN',
       'GO-KART', 'HERALD MOTOR COMPANY', 'IRIS.BUS', 'EUNOS',
       'MAZDA CX-7 SPORT TECH D', 'CATERHAM SUPER SEVEN', 'CCM',
       'BMW MINI COOPER 1.6L', 'SMART MCC', 'SWERDNA', 'MZ', 'ITALJET',
       'AUDI A5 S LINE TDI QUATTRO', 'SWM', 'WOLSELEY', 'JENSEN', 'DUFFY',
       'QINGQI', 'VOLKSWAGEN POLO TREND 1,4L', 'PEUGEOT AUTOSLEEPER',
       'AC', 'PIONEER', 'VOLKSWAGEN POLO BASE 1.4L', 'MITSUOKA',
       'MINI COOPER D', 'PGO', 'ALEXANDER DENNIS', 'ROBIN HOOD',
       'VOLKSWAGEN MOVE UP BLUEMOTION TECHNOLOGY', 'ZERO MOTORCYCLES',
       'WILDAX SOLARIS XL', 'BASHAN', 'PEUGEOT 508 ALLURE SW HDI',
       'DUFFY E220 BLUETEC', 'BENELLI', 'GARDNER DOUGLAS 427',
       'LUNAR ROADSTER EL', 'HUMBER',
       'LANDROVER RANGEROVER AUTOBIOGRAPHYV85L', 'BRITISH TRACKSTAR',
       'PEUGEOT PARTNER 9O 1.6 HDI', 'INDIAN MOTORCYCLE', 'REWACO',
       'FANTIC MOTOR', 'SMART FORTWO BRABUS XCLUSIVE A',
       'SMART FORTWO PURE 61 MHD AUTO', 'QUANTUM', 'SANTANA',
       'LIFAN HONGDA', 'BSA', 'TAIWAN GOLDEN BEE CU8 125', 'GARDENER',
       'MERCEDES BENZ', 'FISHER', 'AUTO-SLEEPERS', 'TRITON', 'MOTOR HOME',
       'HONDA BIG RED', 'VAUXHALL ASTRA SRI VX-LINE CDTI AUTO', 'SECMA',
       'NG TF ROADSTER', 'NISSAN ELGRAND', 'LANDROVER', 'HUMMER',
       'TRIUMPH TR4', 'MUSTANG GT', 'BMW 330D SE A',
       'ELDDIS MAJESTIC 105', 'MB 311CDI SPRINTER', 'NORTON',
       'HARLEY-DAVIDSON XL 1200 X FORTY EIGHT 12', 'CI MOTORHOME',
       'SCANIA', 'TATA', 'AC (ELECTRIC)', 'HONDA CIVIC CRX ESI VTEC 1.6L',
       'LAND ROVER RANGE ROVER SPORT TDV6 2.7L',
       'LAND ROVER DISCOVERY3 TDV6 SE 2.7L', 'HOLDEN',
       'MCLAREN 650 SPIDER', 'MALAGUTI', 'FORD KA EDGE', 'IVECO FORD',
       'HARLEY-DAVIDSON FLHTCU EGLIDE UC 1690 12', 'DFSK LOAD HOPPER VAN',
       'LEYLAND', 'DAX', 'APRILLA RS4 125 4T', 'SCOOTERS INDIA LTD',
       'ZHENHUA', 'ARTISAN', 'BAILEY APPROACH', 'DUCATI 916S', 'CF MOTO',
       'BANTAM TRIALS', 'MITSABISHI', 'OPTARE', 'AUSTIN MORRIS',
       '288 GT REPLICA', 'VAUXHALL ASTRA SRI CDTI', 'ADRIA COMPACT SP',
       'BMW M5 AUTO', 'VANY START V114', 'ALPINA B5 BITURBO',
       'KENSINGTON 175', 'LIFAN', 'DARRIAN', 'MERCADES',
       'HARLEY-DAVIDSON FLHTC EGLIDE CL 1690 12', 'DUFFY E250 CDI',
       'LEARNERLEGAL', 'GWIZ', 'ROVIGO', 'MADNESS', 'DINLI', 'STEYR/PUCH',
       'AUTOSLEEPERS', 'MASH', 'LAND ROVER RANGE ROVER EVOQUE SD4 2.2L ',
       'IMPERIAL', 'COUMAC', 'LINCOLN',
       'MERCEDES BENZ SPRINTER 313 CDI 2.2L', 'CARACOMPACT 600 MEG',
       'VESPA 100 SPORT', 'TRS', 'BENIMAR MILEO 313', 'MB311CDI', 'JBA',
       'ROBINHOOD', 'QUANTIM', 'NOBLE',
       'SMART FORTWO ICESHINE EDITION MHD A', 'MARCOS', 'GORDON KEEBLE',
       'ISUZU TRUCKS GRAFTER N35.150', 'NSU', 'HERALD', 'SUKIDA', 'T&J',
       'EXPLORER GROUP LTD', 'YAMASAKI ZORRO YM50', 'DC KIT CARS',
       'BMW 740D M SPORT LUXURY EDITION A', 'KINROAD',
       'MITSUBISHI L200 TROJAN DCB DI-D 4X4', 'CAN-AM', 'REGENT',
       'BENIMAR MILEO 286', 'BESSACARR', 'BYD E6Y', 'POLARIS', 'TIGER',
       'MINI ONE', 'ALPINA', 'BIMOTA', 'STX MASTER HORSEBOX', 'ACCESS',
       'CITROEN 2CV6 600 CHARLESTON', 'SMART FORTWO PULSE CDI AUTO',
       'VOLKSWAGEN GOLF TREND 1.9 TDI',
       'VAUXHALL INSIGNIA SRI CDTI ECOFLEX S/S', 'FORD FIESTA EDGE 82',
       'FORD/DAMON', 'SUNBEAM', 'PERIPOLI', 'WILDAX MOTORHOMES',
       'BENIMAR', 'ENFIELD', 'LEYLAND CARS',
       'MOTER HOME MERCEDES SPRINTER', 'ELDDIS SIGNATURE 196',
       'RAPIDO DUCATO VAN', 'LAND ROVER FREELANDER 2 SD4 HSE 2.2L',
       'BRADSHAW G4 SG42', 'BMW 530D M SPORT AUTO', 'VOLKSWAGEN HIGH UP',
       'BRANSON', 'SKAD 125T', 'WUYANG', 'VOLKSWAGEN POLO COMFORT 1.4L',
       'NEVAL', 'SHINERAY', 'COLEMAN MILNE',
       'HARLEY-DAVIDSON 1200 CUSTOM LTD XL CA 13', 'GOWRINGS MOBILITY',
       'DELOREAN', 'SUPERBYKE', 'TRABANT', 'CARBODIES',
       'LONDON TAXI COMPANY', 'PILOTE', 'MONACO', 'STREET SCOOTER WORKL',
       'SAKURA EV1200', 'ATX240E', 'TOYOTA PRIUS T SPIRIT VVT-I CVT',
       'DENNIS', 'HOLDEN GTS', 'GILBERN', 'DUCATO ADRIA MOBIL',
       'LUNAR LANDSTAR EWS', 'AUDI Q7 QUATTRO SPORTLINE  V6  TDI',
       'PEUGEOT EXPERT E7SE', 'TRANSBUS INT', 'LAVERDA',
       'ISUZU D-MAX YUKON VISION D/C TD AUTO', 'VMOTO', 'MOSS', 'KUBOTA',
       'STEYR', 'CHESIL', 'TRS TRSRR', 'HUSABERG', 'VAUXHALL CORSA SE',
       'MONDIAL', 'HISUN HS350', 'LAND ROVER RANGE ROVER SPORT TDV6 HSE',
       'CM DORCHESTER', 'FORD FIESTA TITANIUM', 'MBK',
       'LEYLAND DAF FA 45 130', 'VOLKSWAGEN POLO BASE 1.2 55BHP',
       'BENIMAR MILEO 202', 'LAND ROVER RANGE ROVER EVOQUE TD4 SE 2L',
       'OLDSMOBILE', 'GARDENER DOUGLAS', 'BAILEY',
       'CITROEN 2CV6 SPECIAL 600', 'FORD FIESTA ZETEC',
       'RENAULT TRUCKS MASTER 135.35 C LWB', 'NG TF',
       'FORD FIESTA EDGE TDCI 70', 'YAMASAK', 'FIAT 500 S 1.4L', 'KNAUS',
       'STOMP Z3140', 'FRANCIS BARNETT', 'ARIEL', 'FQHL E220', 'TAIZHOU',
       'WILLYS JEEP', 'LAND ROVER DISCOVERY TD5 2.5L', 'GULF STREAM',
       'SMART MCC CDI', 'BOOM', 'KAZUMA', 'STANDARD', 'SUN LIVING',
       'BEELINE', 'HUONIAO', 'FORD TRANSIT', 'FORD DORCHESTER',
       'LAND ROVER RANGE ROVER SPORT HSE SDV6 ',
       'VAUXHALL VIVARO CDTI 2900 2.0L', 'STARLET GLANZA V',
       'BMW X5 XDRIVE30D M SPORT AUTO', 'BENTLEY CONTINENTAL GTC AUTO',
       'BMW 118D M SPORT', 'AEON', 'FANTIC', 'FIAT LAIKA',
       'MDV STEALTH BUGGY', 'BMW 116D M SPORT AUTO', 'BAVARIA', 'YCF',
       'JAGO', 'ERIDER', 'HARLEY-DAVIDSON STREET BOB FXDB 1584 13',
       'SPY 350F1', 'HOBBY', 'STEYRDAIMLERPUCH', 'CFMOTO',
       'STREET SCOOTER WORK', 'FORD CARDINALCLASSIC',
       'VAUXHALL INSIGNIA EXCLUSIV', 'AUSTEL',
       'LAND ROVER RANGE ROVER SP HSE TDV6 A', 'AUTOGRAPH 796', 'APACHE',
       'HOBBY OPTIMA T65 FL', 'VOLKSWAGEN TIGUAN SPORT TSI  1.4BMT',
       'VOLKSWAGEN POLO TREND  1.4L', 'TOMOS', 'HUSQVANA',
       'CATERHAM SUPERSPORT', 'SCOMADI TL125', 'ARMSTRONG', 'DE TOMASO',
       'DETHLEFFS', 'HOBBY 750 HUCC', 'SUNLIGHT T67',
       'PEUGEOT 208 ACTIVE',
       'MERCEDES-BENZ CLS250 CDI AMG BLUE-CY SPORT A', 'OSSA', 'SHERCO',
       'MK', 'ROMET MOTORS', 'SEAT IBIZA SPORT 16V 1.4L',
       'DIRECTBIKESZN50QT-11', 'COSSACK', 'RILEY', 'SCORPA', 'MOTO WR250',
       'LTI VRS LTD TX4 LPG', 'BEETLE', 'SUNLIGHT A68', 'ARIIC',
       'TRIGANO', 'STOMP', 'PORSCH', 'VOLKSWAGON', 'BMW 320D M SPORT 181',
       'JINLING', 'KARNATAKA SCOOTERS LTD',
       'LANDROVER RANGEROVER SPORT AUTOBIOGRAPH', 'MCLOUIS MC4 379',
       'CARTHAGO C-TOURER150', 'ACURA', 'RICKMEN', 'KURZ RT1', 'BEAUFORD',
       'LANDROVER RANGE ROVER VOGUE SE TDV8 3.6',
       'VOLKSWAGEN CADDY C20 TDI 1.6L', 'HILLMAN', 'DAF', 'TM', 'RAPIDO',
       'DUTTON SURF', 'TRAIL LIGHT', 'VOLKSWAGEN MOVE UP', 'SUNLIGHT',
       'URAL', 'NECHT', 'PEUGEOT 207 VERVE 1.4L', 'DIRECTBIKES DB125T-E',
       'SANYA', 'BOMBARDIER', 'HONLEY', 'GBS', 'YAMASAKI YM50-9',
       'HAMMERHEAD', 'HYUNDAI I30 COMFORT CRDI 16V 1.6L', 'AUSTIN HEALEY',
       'DODGE RAM 1500 RT', 'VOLKSWAGEN GOLF CL 1.9L',
       'LAND ROVER EVOQUE SD4 2.2L', 'UNCLASSIFIED', 'AUSTIN-MORRIS',
       'BONKERS', 'BMW 318D ES TOURING', 'FREIGHT ROVER',
       'BMW 320I M SPORT', 'PRAGA', 'HONDA JAZZ  1.4L', 'ALVIS',
       'HYUNDAI IX35 PREMIUM 2WD CRDI', 'PORSCHE BOXSTER', 'AIE',
       'BURSTNER IXEO 590', 'DETHLEFFS GLOBEBUS', 'NG', 'DI BLASI',
       'FEIYING', 'VULCAN', 'TRIBUTE', 'BMW 118D EXCLUSIVE EDITION AUTO',
       'RENAULT GRAND MODUS DYNAMIQE 1.6',
       'LANDROVER FREELANDER 2 HSE TD4', 'MONARCH', 'WANGYE WY125T-108',
       'ERWIN HYMER GROUP', 'UMM', 'BAROSSA',
       'VOLKSWAGEN POLO TREND 1.2L', 'AUTO-SLEEPERS SYMBOL',
       'GRAND ROVER VOYAGER', 'BMW ALPINA', 'CITROEN C3 SELECTION',
       'MERCEDES SLK 200 KOMPRESSOR',
       'VOLKSWAGEN TR-SPORTER T28 84 TDI SWB', 'STREETSCOOTER',
       'MERCEDES-BENZ SLK250 AMG SPORT CDI BLUE-CY A', 'FIAT DUCATO',
       'ITINEO', 'ELGRAND HIGHWAY STAR', 'GLOBECAR ROADSCOUT R',
       'LUNAR LANDSTAR RL', 'ALPINA D3 B1 TURBO',
       'LANDROVER FREELANDER TD4 2.0L', 'JIAYUAN EV', 'GULF STREEM',
       'PREYING MANTIS', 'SCOMADI TL50', 'THORACE', 'ARCTIC CAT',
       'FENIAN', 'JONWAY', 'SMART FORTWO ICESHINE EDITION AUTO', 'MERLIN',
       'SPYKER', 'MNR VORTX', 'TOYOTA COROLLA T3 16V VVT-I 1.6L',
       'HARLEYDAVIDSON MT500', 'TRIPOD', 'JOHN DEERE',
       'IVECO DAILY CAMPER', 'BEROSA', 'MAHINDRA',
       'AUDI A3 SPORTBACK TDI 1.9L', 'GULFSTREAM', 'VAUXHALL ASTRA 1.4L',
       'MERCEDES-BENZ C63 AMG AUTO', 'FORD S-MAX  ZETEC TDCI 2.0L',
       'NISSAN QASHQAI ACENTA DCI', 'MERCEDES BENZ C220 CDI 2.2L', 'ADLY',
       'ALLEGRO', 'PILGRIM', 'PANTHER', 'MEV DS', 'HONGDOU',
       'AUTOSLEEPERS WARWICK', 'SUSUKI', 'FIAT CHAUSSON',
       'WESTFIELD SE1W', 'LINTEX HT50QT-16', 'TOYOTA VELLFIRE',
       'VELOCETTE L.E.MK3', 'JEEP GRAND CHEROKEE OVERLAND CRD A',
       'GOUPIL', 'FIAT BURSTNER DUCATO', 'BEUFORD', 'MERCEDES 412',
       'SUNRA XR-EM45 FALCON', 'JAWA'], dtype=object)

In [15]:
# Create filter
mask = df.make.str.lower().str.contains('ford')

In [16]:
# Check filter
df.loc[mask, 'make'].unique()

array(['FORD', 'IVECO-FORD', 'BEDFORD', 'FORD KA EDGE', 'IVECO FORD',
       'FORD FIESTA EDGE 82', 'FORD/DAMON', 'FORD FIESTA TITANIUM',
       'FORD FIESTA ZETEC', 'FORD FIESTA EDGE TDCI 70', 'FORD TRANSIT',
       'FORD DORCHESTER', 'FORD CARDINALCLASSIC', 'BEAUFORD',
       'FORD S-MAX  ZETEC TDCI 2.0L', 'BEUFORD'], dtype=object)